<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <%= form_for @video_game do |f| %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Video Game name', class: 'form-control' %>.
        </div>

        <div class="form-group">
          <%= f.label :fav_character %>
          <%= f.text_field :fav_character, placeholder: 'Favorite Character', class: 'form-control' %>.
        </div>


      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

    </div>
  </div>
</div>
